@(title: String)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/GameSocketHandler.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/GameHandler.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/Player.js")'></script>
    </head>
    <body>
        <canvas id="canvas">
            It seems that your browser does not support the "canvas" tag.
            Please upgrade to a newer or better browser...
        </canvas>
        <script defer="defer">
            var game = new GameHandler();
        </script>
    </body>
</html>
